*/testing/*
*.exe

.vs/
.vscode/
Debug/
*.sln
*.vcxproj*

**/issues/*
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
/tmp/

**/code_samples/**

*.DS_Store

*.tool-versions
